#dropdown-menu {
    position: absolute;
    top: 74px;
    left: 0;
    z-index: 10;
    width: 100%;
    background: white;
    border-top: 8px solid transparent;

    #dropdown-menu-wrapper {
        width: 80vw;
        height: 385px;
        border-top: 8px transparent;
        padding: 16px 0;
        margin: 0 auto;
    
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
    
        .dropdown-section-1 {
            grid-column: 1 / span 3;
            // justify-content: start;
        }
    
        .dropdown-section-2 {
            grid-column: 4 / span 3;
            align-items: center;
        }
    
        .dropdown-section-3 {
            grid-column: 7 / span 3;
            align-items: center;
        }
    
        .dropdown-section-4 {
            grid-column: 10 / span 3;
            // justify-content: end;
        }
    }
}