.button {
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
}

#login {
    border: 1px solid white;
}

#signup {
    background: rgba(white, 0.5);
}

.learn-more-btn {
    font-size: 11px;
    color: #6B6B6E;
    background-color: #EEEEF1;
    padding: 4px 7px 4px 14px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    
    i {
        color: #666669;
        font-size: 21px;
        vertical-align: middle;
        font-weight: bold;
    }
    
    &:hover {
        background-color: #E31B37;
        color: white;

        i {
            color: white;
        }
    }
    
}