.button {
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
}

#login {
    border: 1px solid white;
    -webkit-background-clip: padding-box; 
    -moz-background-clip:    padding; 
    background-clip:         padding-box;
}

#signup {
    background: rgba(white, 0.5);
}