.button {
  font-size: 12px;
  padding: 10px 25px;
  border-radius: 30px;
  color: white;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0 10px;
}

#login {
  border: 1px solid white;

  &:hover {
    border: 1px solid transparent;
    background: white;
    color: #6b6b6e;
  }
}

#signup {
  background: rgba(white, 0.4);

  &:hover {
    background: rgba(white, 0.7);
  }
}

.learn-more-btn {
  font-size: 11px;
  color: #6b6b6e;
  background-color: #eeeef1;
  padding: 5px 7px 5px 14px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  i {
    color: #666669;
    font-size: 20px;
    vertical-align: middle;
    font-weight: bold;
  }

  &:hover {
    background-color: #e31b37;
    color: white;

    i {
      color: white;
    }
  }
}
