.industry-item {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 8px;
    cursor: pointer;

    .industry-image {
        min-width: 280px;
        min-height: 160px;
        width: calc(100% - 8px);
        height: auto;
        box-sizing: content-box;
    }

    .industry-label {
        position: absolute;
        z-index: 30;

        color: white;
        font-size: 14px;
        font-weight: lighter;
        text-transform: uppercase;
        letter-spacing: 4px;

        padding: 9px 15px;
        border-radius: 20px;
        background-color: rgba(#FFFFFF, 0.3);
    }

    &:first-of-type {
        margin-right: 0;
        
        .industry-image {
            position: relative;
            left: -8px;
            width: calc(100% - (8px * 1.05));
            transform: scale(1.05);
            transform-origin: top left;
        }

        &::after {
            display: none;
        }
    }
    
    &:hover {
        top: -3px;
    }

     
}