.industry-item {
  position: relative;
  top: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;

  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  width: 100%;
  margin-right: 8px;
  cursor: pointer;

  .industry-image {
    min-width: 220px;
    width: calc(100% - 8px);
    height: auto;
  }

  .industry-label {
    position: absolute;
    z-index: 30;

    color: white;
    font-size: 12px;
    line-height: 14px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.5px;
    max-width: calc(100vmax - 18px);

    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(#ffffff, 0.3);
  }

  &:first-of-type {
    margin-right: 0;

    .industry-image {
      position: relative;
      left: -6px;
      width: calc(100% - (8px * 1.05));
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
      -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
      transform-origin: top left;
    }
  }

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    top: -3px;
  }
}
