#navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 82px;
  width: 80%;

  padding: 0 10vw;

  #navbar-logo {
    height: 50%;
    cursor: pointer;
  }
}
