#navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 82px;
  width: 80%;

  padding: 0 10vw;

  #navbar-logo {
    height: 50%;
    cursor: pointer;
  }
}
