#navlinks-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 50%;

    .navlink-item {
        color: white;
        font-size: 14px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &.selected::after,
        &.selectable:hover::after {
            content: "";
            position: absolute;
            bottom: -6px;
            z-index: 20;
            border-right: 20px solid transparent;
            border-left: 20px solid transparent;
            border-bottom: 16px solid white;
            margin: 0 auto;
        }
    }
}