.product-item {
  color: #8d8d90;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 15px 0;

  &::after {
    // divider lines between products
    content: "";
    position: absolute;
    top: 0;
    right: -30%;
    width: 1px;
    height: 300px;
    border-right: 1px solid #f0f0f3;
  }

  &:first-of-type {
    margin-right: 30%;
  }

  &:nth-last-of-type(2) {
    margin-right: 10%;
    margin-left: 20%;
  }

  &:nth-last-of-type(3) {
    margin-right: 20%;
    margin-left: 10%;
  }

  &:last-of-type {
    margin-left: 30%;

    &::after {
      display: none;
    }
  }

  & > * {
    margin-bottom: 15px;
  }

  .product-image {
    width: 78px;
  }

  .product-description {
    font-size: 12px;
    text-align: center;
    line-height: 18px;
  }

  .dropdown-link-list .product-link {
    margin-bottom: 12px;
    color: #aaaaad;
    cursor: pointer;

    &:last-of-type {
      margin-bottom: 0;
    }

    strong {
      color: #575759;
    }

    i {
      font-size: 20px;
      vertical-align: middle;
    }
  }
}
