// Roboto Font
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

body {
  background-color: #333336;
  font-family: "Roboto", sans-serif;
}

#navbar {
  font-size: 12px;
}

.navbar-title-big {
  font-weight: bold;
  font-size: 20px;
}

.navbar-title {
  font-weight: bold;
  font-size: 16px;
}

.navbar-subtitle {
  font-weight: medium;
  font-size: 12px;
}
